@font-face {
	font-family: 'smartfont';
	src: url('../fonts/smartfont.otf');
}
body, input, textarea, select {
	font-family: 'smartfont';
}

.wrap {
	width:100%;
	background:#FFF;
	margin:20px auto;
	padding:10px;
}
.wrap p {
	height:550px;
	margin-bottom: 5px;
}
.wrap ul {
	display:block;
	overflow:hidden;
	margin: 0;
	clear:both;
}
.wrap li {
	display:block;
	float:left;
	background:#fff;
	margin-right:5px;
}
.wrap li:last-child {
	margin-right: 0;
}
.wrap li img {
	cursor:pointer;
}

.category-chiryoho .archive_sort {
	display: none;
}

.archive .shoulder_copy {
	display: none;
}
.post-type-archive-introduce .shoulder_copy {
	display: inherit;
}