@font-face {
	font-family: 'smartfont';
	src: url('../fonts/smartfont.otf');
}
body, input, textarea, select {
	font-family: 'smartfont';
}

.wrap {
	width:100%;
	background:#FFF;
	margin:20px auto;
	padding:10px;
}
.wrap p {
	height:550px;
	margin-bottom: 5px;
}
.wrap ul {
	display:block;
	overflow:hidden;
	margin: 0;
	clear:both;
}
.wrap li {
	display:block;
	float:left;
	background:#fff;
	margin-right:5px;
}
.wrap li:last-child {
	margin-right: 0;
}
.wrap li img {
	cursor:pointer;
}

.category-chiryoho .archive_sort {
	display: none;
}

.archive .shoulder_copy {
	display: none;
}
.post-type-archive-introduce .shoulder_copy {
	display: inherit;
}


/********* single-page-header *********/
.pull-left .post_tag a {
	background: #e8e8e8;
	padding: 5px;
}

/********** common ***********/
/*button*/
.btn {
	border-radius: 15px;
	padding: 5px;
	height: 70px;
	width: 70px;
	text-align: center;
	margin: 5px;
	color: #FFF;
	position: relative;
}
.btn a {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}
.btn span {
	line-height: 70px;
	text-align: center;
}
.btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

.btn-blue {
	background: #3342b8;
}
.btn-blue a {
	color: #FFF;
	display: block;
}

.elm-inline {
	display: inline-block;
}

/*float*/
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear {
	clear: both;
}