@font-face {
	font-family: 'smartfont';
	src: url('../fonts/smartfont.otf');
}
body, input, textarea, select, .rich_font {
	font-family: 'smartfont';
}

.wrap {
	width:100%;
	background:#FFF;
	margin:20px auto;
	border-top: 1px #ddd solid;
	padding-top: 20px;
}
.wrap p {
	width: 100%;
    margin-bottom: 0;
    line-height: 1.2;
}
.wrap ul {
	display:block;
	overflow:hidden;
	margin: 0;
	clear:both;
}
.wrap li {
	display:block;
	float:left;
	background:#fff;
	margin-right: 0.8%;
    width: 32.8%;
}
.wrap li:last-child {
	margin-right: 0;
}
.wrap li img {
	cursor:pointer;
}

.category-chiryoho .archive_sort {
	display: none;
}

.archive .shoulder_copy {
	display: none;
}
.post-type-archive-introduce .shoulder_copy {
	display: inherit;
}

/********* seach-introduce-layout *********/
.post-type-archive-introduce .image, .post-type-archive-introduce .excerpt {
	display: none;
}
.post-type-archive-introduce ul.meta, .post-type-archive-introduce h3.title {
	float: left;
}
.post-type-archive-introduce #post_list2 .article .info {
	width: 100%;
	float: inherit;
}

.post-type-archive-introduce .shoulder_copy ul {
	margin-bottom: 20px;
}

.post-type-archive-introduce #post_list2 .article .tags span {
	display: inline-block;
	padding: 0;
	margin-right: 2px;
	padding: 5px 6px;
	background: #f7f7f7;
}

#post_list2 .article:hover {
	background: #fafafa;
}
#post_list2 .article .title {
	margin-left: 4px;
	line-height: 1.4em;
	font-size: 18px;
}

/********* clinic-archive *********/
.cliniclist {
	margin-bottom: 20px;
	padding: 20px;
}

.area-box-outer {
	display: flex;
	flex-wrap: wrap;
}

.area-box {
	width: 33%;
	padding: 20px;
    box-sizing: border-box;
}
.area-box .pref {
	font-size: 16px;
	color: #FFF;
	background: #000;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
    padding: 5px 20px;
    margin-bottom: 14px;
}
.area-box .area {
	font-size: 15px;
	color: #000;
	line-height: 2em;

}
.area-box li a {
	font-size: 15px;
	line-height: 2em;
	color: #3342b8;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.area-box li a:hover {
	color: #b69e84;
}
/********** common ***********/
/*font*/
.cs-headline {
	font-size: 42px;
	color: #c0b09d;
}

/*button*/
.btn {
	border-radius: 15px;
	padding: 5px;
	height: 70px;
	width: 70px;
	text-align: center;
	margin: 5px;
	position: relative;
}
.btn:hover {
	opacity: 0.8;
	cursor: pointer;
}
.btn-blue {
	background: #3342b8;
}
.btn-icon {
	margin-bottom: 14px;
    margin-top: 7px;
}
.btn-blue a {
	color: #FFF;
	display: block;
	width: 100%;
	height: 100%;
}

.elm-inline {
	display: inline-block;
	margin-right: 4px;
}

/*float*/
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear {
	clear: both;
}


/*popup*/
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 15px;
}
.pop-img img {
	width: 200px;
}
.pop-img, .pop-content {
	float: left;
}
.pop-content {
	text-align: center;
	padding: 35px 10px;
}
.pop-content p {
	font-size: 22px;
}
.pop-content h3 {
	font-size: 30px;
	line-height: 1.8em;
}
.pop-content h2 {
	font-size: 41px;
	color: #3342b8;
	background: #f7f7f7;
	padding: 10px 14px;
    margin-top: 30px;
}

/*hospital post*/
.post_content table {
	color: #666;
}
.post_content th {
	background: #F7F7F7;
}
.single-introduce #article #post_title {
	margin: 0;
}
.single-introduce .post_content .btn {
	margin: 0;
    line-height: 40px;
    height: 40px;
    padding: 5px 20px;
}
.single-introduce .post_content h3 {
	padding-top: 20px;
    color: #3342b8;
    border-bottom: 3px #3342b8 solid;
    padding-bottom: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}

.single-introduce .post_content td, .post_content th {
	border: 1px solid #ddd;
}
.single-introduce .director-img img {
	max-width: 300px;
	margin-right: 40px;
	margin-left: 20px;
}
.single-introduce .director h5 {
	font-size: 26px;
	margin-bottom: 20px;
}
.single-introduce .director p {
	margin: 0;
}

.single-introduce .cs-header-text .post_tag a {
	background: #e8e8e8;
	padding: 5px;
}

.single-introduce .cs-header-text {
	float: left;
}
.single-introduce .cs-header-btns {
	float: right;
}

.single-introduce .cs-info iframe {
	display: inherit;
}
.single-introduce .sp-map-btn {
	display: none;
}

/************ layout for sp ************/
@media (max-width: 600px) {
	.area-box {
		width: 100%;
		padding: 0;
	}
	.cs-headline {
		font-size: 26px;
		text-align: center;
	}
	.single-introduce #main_col {
		margin-top: 20px;
	}
	.single-introduce .cs-header-text {
		float: inherit;
	}
	.cs-header-text ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.single-introduce .cs-header-btns {
		float: inherit;
	}
	.single-introduce #post_title {
		font-size: 24px;
	}
	.single-introduce .cs-timetable td, .single-introduce .cs-timetable th {
		padding: 5px;
	}
	.single-introduce .cs-info iframe {
		display: none;
	}
	.single-introduce .sp-map-btn {
		display: inherit;
	}
	.single-introduce .cs-info p {
		margin: 0;
	}
	.single-introduce p, .single-introduce table {
		font-size: 12px;
	}
	.single-introduce .post_content h3 {
		font-size: 20px;
	}
	.single-introduce .director h5 {
		font-size: 14px;
	}
	.director-img {
		float: inherit;
	}
	.director-img img {
		max-width: 300px;
	}
	.pop-img, .pop-content {
		float: inherit;
		text-align: center;
	}
	.pop-img img {
		width: 150px;
	}
	.pop-content h2 {
		font-size: 25px;
	}
	.pop-content h3 {
		font-size: 20px;
	}
	.top-message .cb_headline {
		font-size: 20px;
	}
	.top-message p {
		font-size: 12px;
	}
}